<template>
    <div>
        <div class="news-form">
            <input v-model="email" :disabled="form_disabled" type="text" class="form-input"  placeholder="قم بإدخال بريدك الإلكتروني">
            <button @click="subscribe" type="submit" class="form-button"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
        <p v-text="message" v-if="message_shown" class="pt-3"></p>
    </div>
</template>


<script>
    export default {
        data: function() {
            return {
                email: '',
                message: '',
                form_disabled: false,
                message_shown: false,
                submitting: false,
            }
        },
        methods: {
            subscribe: function () {
                
                if (this.email == '') {
                    this.showMessage('يرجى إدخال بريدك الإلكتروني');
                    return;
                }

                if (this.submitting) {
                    return;
                }

                this.submitting = true;
                this.form_disabled = true;

                this.showMessage('جاري إرسال طلبك...');

                axios.post('/api/newsletter/subscribe', {'email': this.email})
                    .then(
                        (response) => { 
                            this.showMessage(response.data.message);
                            this.submitting = false;
                        }
                    ).catch(
                        (error) => {
                            var error_messages = error.response.data.errors.email;
                            var vue = this;

                            error_messages.find(function(error_message){
                                if (error_message === 'يجب أن يكون البريد الالكتروني عنوان بريد إلكتروني صحيح البُنية') {
                                    vue.showMessage(error_message);
                                    vue.form_disabled = false;
                                }

                                if (error_message === 'قيمة البريد الالكتروني مُستخدمة من قبل') {
                                    vue.showMessage(error_message);
                                }

                                vue.submitting = false;                             
                            });
                        }
                    );
            },

            showMessage: function(message) {
                this.message = message;
                this.message_shown = true;
            },

            hideMessage: function() {
                this.message_shown = false;
            }
        }
    }
</script>
