@font-face {
    font-family: 'Droid';
    src: url("/theme/fonts/DroidNaskh-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.mce-content-body{
    font-family: Droid, serif !important;
    color:#333 !important;
    line-height:1.5 !important;
}